.card {
  background-color: #22272b;
  padding: 20px;
  height: auto;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ghost-card {
  background-color: red;
  height: var(--ghost-height);
}

.card.hide {
  transition: transform 0.01s;
  transform: translateX(-9999px);
}