.card-list-wrapper, .card-list-adder {
  width: 272px;
  flex-shrink: 0;
  height: fit-content;
  background-color: #101204;
  border-radius: 12px;
  padding: 10px 10px 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 0 0 1px #0000, 0 1px 1px #03040480, 0 0 1px #03040480;
}

.card-list-wrapper .add-button {
  align-items: center;
  background-color: transparent;
  border-radius: 8px;
  border: none;
  color: #adb9c4;
  display: flex;
  flex-grow: 1;
  gap: 10px;
  justify-content: flex-start;
  padding: 8px;
  text-align: left;
}

.card-list-wrapper .add-button:hover {
  background-color: #A6C5E229;
}

.card-list-wrapper .title {
  font-size: 14px;
  padding-left: 15px;
  padding-top: 8px;
}

.card-list-adder {
  display: none;
}

.card-list-adder form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-list-adder textarea {
  background-color: transparent;
  border-radius: 4px;
  border: none;
  color: #B6C2CF;
  cursor: text;
  font-family: inherit;
  font-size: inherit;
  form-sizing: content;
  height: 32px;
  max-height: 162px;
  padding: 6px 12px;
  resize: none;
}

.card-list-adder textarea:hover {
  background-color: #282e33;
  border: 1px solid #3d474f;
}

.card-list-adder textarea:focus {
  outline: 1px solid #85b8ff;
}


.card-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-list-button {
  flex-shrink: 0;
  align-items: center;
  background-color: #969696;
  border-radius: 8px;
  border: none;
  color: #fff;
  display: flex;
  gap: 10px;
  height: fit-content;
  justify-content: flex-start;
  padding: 12px;
  text-align: left;
}

.add-list-button:hover {
  background-color: #935579;
}
