.card-list-wrapper {
  height: fit-content;
  background-color: #101204;
  border-radius: 12px;
  padding: 10px 10px 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 0 0 1px #0000, 0 1px 1px #03040480, 0 0 1px #03040480;
}

.card-list-wrapper .add-button {
  flex-grow: 1;
  border-radius: 8px;
  padding: 8px;
  background-color: transparent;
  border: none;
  color: #adb9c4;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.card-list-wrapper .add-button:hover {
  background-color: #A6C5E229;
}

.card-list-wrapper .title {
  font-size: 14px;
  padding-left: 15px;
  padding-top: 8px;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
