@import url('./card.css');
@import url('./lists.css');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: dark;
  color: CanvasText;
  background-color: Canvas;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 272px);
  gap: 20px;
  width: 100%;
  height: 100vh;
  padding: 20px;

}

