@import url('./card.css');
@import url('./lists.css');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: dark;
  color: CanvasText;
  background-color: #8f3f65;
}

body {
  font-size: 14px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Noto Sans",Ubuntu,"Droid Sans","Helvetica Neue",sans-serif;
  font-weight: 500;
  display: flex;
}

main {
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 100vh;
  padding: 20px;
}

button {
  cursor: pointer;
}